/* start of base and mobile styles */

body{background-color:#D3D3D3;}
.Area{grid-template-columns: 1fr;}            
     
a.active {
    color: blue;}

.container-footer{background-color:#CCCCCC;}
.WebDevelopment{grid-column:2/3;
                grid-row:1/2}
.AI{grid-column:1/2;
     grid-row:2/3;}
.AI img,
.WebDevelopment img,
.Programming img
{max-width:100%;}
.Programming{grid-column:3/3;
             grid-row:2/3;}
.WebDevelopment{ box-shadow: 0 0 20px rgba(165, 42, 42, 0.5);}
.WebDevelopment:hover{transform: translate(0,-5px);/* Move up slightly */}

.AI{box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); /* Red shadow */}

.AI:hover{transform: translate(0,-5px);/* Move up slightly */}

.Programming{ box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); /* Green shadow */}
      
.Programming:hover{transform: translate(0,-5px);/* Move up slightly */}



@media only screen and (min-width: 992px){

body{background-color:#E6F3FF;
      margin: 0 auto;
      padding: 0;
      font-family:sans-serif;
      line-height:1em;}
.Areas{display:grid;
      grid-template-columns:auto auto auto;
      grid-template-rows:auto auto;
      grid-gap: 20px;}

.WebDevelopment{grid-column:2/3;
                grid-row:1/2}
.AI{grid-column:1/2;
     grid-row:2/3;}
.Programming{grid-column:3/3;
             grid-row:2/3;}
.WebDevelopment{ box-shadow: 0 0 20px rgba(165, 42, 42, 0.5);}
.WebDevelopment:hover{transform: translate(0,-5px);/* Move up slightly */}

.AI{box-shadow: 0 0 20px rgba(255, 0, 0, 0.5); /* Red shadow */}

.AI:hover{transform: translate(0,-5px);/* Move up slightly */}

.Programming{ box-shadow: 0 0 20px rgba(0, 255, 0, 0.5); /* Green shadow */}
      
.Programming:hover{transform: translate(0,-5px);/* Move up slightly */}




.container-footer{display:grid;
                  grid-template-columns:auto auto auto;
                  background-color:#87CEEB;
}
.contacts{grid-column:1/3;}
.Contacts{grid-column:2/3;}
.email{grid-column:3/3;}
}

a.active {
    color: blue;}