/* start of base and mobile styles */

body{background-color:#D3D3D3;}
            
.overview{background-color:#FFEEDD;}
.grid-container{display:grid;}

.picture{max-width:100%;
     height:auto;
     overflow:hidden;}
                
.picture:hover{transform: translate(0,-5px);/* Move up slightly */}

.nav a.links:hover{
color:blue;}


.container-footer{background-color:#CCCCCC;}


@media only screen and (min-width: 992px){

body{background-color:#E6F3FF;
      margin: 0 auto;
      padding: 0;
      font-family:sans-serif;
      line-height:1em;}
.grid-container{display:grid;
                grid-template-columns:auto auto;
                      }
.overview{background-color:#FFEEDD;}

.picture{max-width:100%;
     height:auto;
     overflow:hidden;}
.picture:hover{transform: translate(0,-5px);/* Move up slightly */}


.module-card-1{grid-column:1/2;}
.module-card-2{grid-column:2/2;}
.module-card-3{grid-column:1/2;}
.module-card-4{grid-column:2/2;}
.module-card-5{grid-column:1/2;}
.module-card-6{grid-column:2/2;}
.module-card-7{grid-column:1/2;}
.module-card-8{grid-column:2/2;}
.module-card-9{grid-column:1/2;}
.module-card-10{grid-column:2/2;}
.module-card-11{grid-column:1/2;}
.module-card-12{grid-column:2/2;}
.overview{background-color:#FFEEDD;}
.page-title{
            align-items:center;
            grid-column:1/span 2;
            }
.nav a.links:hover{
color:blue;}
.Img{width:100%;
     border-radius:50%;
     overflow:hidden;
     }
.container-footer{display:grid;
                  grid-template-columns:auto auto auto;
                  background-color:#87CEEB;
}
.contacts{grid-column:1/3;}
.Contacts{grid-column:2/3;}
.email{grid-column:3/3;}

}
